/* layout*/
#wrap {
    width: 100%;
}
#header{
    width: 100%; height: 95px;
}
#banner{
    width: 100%; height: 609px;overflow: hidden;
}
#contents{
    
}
#footer{
    width: 100%; height: 300px; background-color: #444;
}

/*container : 가운데 내용 들어가는 박스*/
.container{width: 1100px;margin: 0 auto ;height: inherit; 
    /* background-color: rgba(0,0,0,0.2); */
}
/*inherit : 상위 단에서 상속받는다*/

/*contents layout
    처음 컨테이너를 만들때는 기본값으로 #contents3{width: 100%;height: 400px;background-color: #ba68c8;} 지정할 것 */
#contents1{}
#contents2{background-color: #f9f7f7;}
#contents3{}
#contents4{background-color: rgb(251,246,249);}
#contents5{width: 100%;height: 400px;background-color: #9c27b0;}

/* header */
.header {overflow: hidden;}
/* float:left를 쓰면 구조가 깨지니, 그 상위단에 overflow:hidden을 준다 */
.header h1{float: left; width: 200px; margin-top: 20px;}
.header .nav{float: left; width: 600px; margin-top: 40px;}
.header .nav li{display: inline; padding: 0 15px; }
/* 글자의 경우 float정렬보다 inline정렬 할 것 */
.header .nav li a{font-size: 15px;font-weight: bold; text-transform: uppercase; letter-spacing: 0.025em;}
.header .nav_icon{float: right; width: 220px;margin-top: 20px;}
.header .nav_icon li{float: left; width: 58px;text-align: center;margin-left: 10px; cursor: pointer;}
.header .nav_icon li a{color:#767676; display: block;}
/* 아이콘과 내용이 일직선으로 되있는데, 이것을 위아래 구조로 바꿈 */
.header .nav_icon li a i {font-size: 25px;}
.header .nav_icon li a:hover{color:#ea5d4b}
.header .nav_icon li span{display: block;}

/*banner*/
#banner{position: relative;}
#banner .banner_icon{ position: absolute;left: 0px;bottom: 0px; width: 100%;height: 67px;
    background-color: rgba(215,94,80,0.6); }
/* 배너 사진보다 배너 아이콘이 위로 올라가려면 포지션을 줘서 올린다 ,rgba는 투명도*/
#banner .banner_icon ul{overflow: hidden;}
#banner .banner_icon li{float: left; width: 25%; text-align: center; padding-top: 14px;}
#banner .banner_icon li a {color:#fff; }
#banner .banner_icon li a i{font-size: 20px}
#banner .banner_icon li a span{display: block;}
/* 아이콘과 내용이 일직선으로 되있는데, 이것을 위아래 구조로 바꿈 */

/* investor */
.investor{text-align: center; padding: 60px 0 70px;}
.investor h2{font-size: 26px;}
.investor p{color: #666;margin: 20px 0 36px;}

.investor .investor_box {overflow: hidden; border-top: 1px solid #eaeaea;}
.investor .investor_box .ileft{float: left; width: 400px;height: 300px; padding-top: 20px;}
.investor .investor_box .iright{float: left;width: 620px;height: 300px;border-left: 1px solid #eaeaea;}
.investor .investor_box .iright ul{overflow: hidden;}
.investor .investor_box .iright li{float: left; width: 33.3333%;margin-top: 30px;}
.investor .investor_box .iright li a:hover{color: #555;}
.investor .investor_box .iright li a i{font-size: 30px; background-color: #f3f3f3;padding: 10px; border-radius: 50%;width: 40px;height: 40px; line-height: 40px; color:#EC7768;}
.investor .investor_box .iright li a span{display: block;font-size: 12px;color: #555;padding-top: 10px;}

/* corporate */
.corporate {text-align: center; padding: 60px 0 70px;}
.corporate h2{font-size: 26px;}
.corporate p {color: #666;margin: 20px 0 36px; line-height: 30px;}
.corporate_box{text-align: left; border-top: solid 1px #e6e6e6;padding-top: 50px;}
.corporate_box ul{overflow: hidden;}
.corporate_box li{float: left; width: 226px;height: 110px; margin: 0 30px; position: relative; padding-left: 80px;}
.corporate_box li a{text-align: center;}
.corporate_box li a i{font-size: 30px; background-color: #EA5D4B;color:white;width: 60px;height: 60px; line-height: 60px;border-radius: 50%;position: absolute; left: 0;top: 5px;}
.corporate_box li a strong{display: block; text-align: left; font-size: 14px;padding-bottom: 5px;}
.corporate_box li a span{display: block; text-align: left; color:#666; font-size: 12px; line-height: 20px;}
.corporate_box li a:hover {color: #222;}
.corporate_box li a:hover span{text-decoration: none;}

/* products */

.products{ padding: 60px 0 70px;}
.products h2{text-align: center; font-size: 26px; padding-bottom: 30px;}
.products .produxts_box{overflow: hidden; margin-left: 19px;}
.products .produxts_box .column{float: left; width: 340px;height: 300px;margin: 0 10px 20px 10px;}
.products .produxts_box .column a:hover {text-decoration: none;}
.products .produxts_box .column h3{font-size: 16px; margin-top:20px;} 
.products .produxts_box .column p{color:#555; margin-top: 12px;} 


/* blog */
.blog {padding: 60px 0 70px; overflow: hidden;}
.blog h2{text-align: center; font-size: 26px; padding-bottom: 30px;}
.blog div{float: left; width: 340px;margin: 0 10px;}
.blog div a{position: relative; display: block; height: 200px; overflow: hidden;}
.blog div a span{position: absolute; left: 0;bottom: 0; background-color: rgba(0,0,0.7); padding: 10px;width: 320px;color:white; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.blog div img{width: 100%;}
/* 
1. div class를 통해 구조를 css로 만든다 
2. 맨처음 가로세로 길이를 주어서 컨테이너 구조를 본다 백그라운드로 준다
3. 가로 세로 구조를 준곳에 float를 써서 넓이를 조정한다. 한단계 위 구조에 overflow:hidden을 준다. 

overflow: hidden; text-overflow: ellipsis;white-space: nowrap; : 한줄에서 글자가 넘치면 ...으로 반환
*/